.navbar {
    display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-grey);
        background: var(--color-bg-dark);
        height: 100%;
        max-height: 4rem;
        overflow: hidden;
}

.navbar svg{
    margin: 0 4%;
    cursor:pointer;
    color: var(--color-text);
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbar ul li{
    cursor: pointer;
        height: 34px;
        
}


.navbar ul li  button{
    background:transparent;
    cursor: pointer;
    color: var(--color-accent);
    font-size:1em;
}

.navbar ul li button:hover, .navbar ul li button:active , .navbar ul li button.clicked{
    border-bottom: 2px solid var(--color-scrollbar);
}

